@import "../scss/components/header";
@import "../scss/components/columnas";
@import "../scss/components/footer";
@import "../scss/base/extends";



p::selection  {
    color: whitesmoke;
    background-color: palevioletred;
}
body {
    background-color: #FEF9E7;
}

footer {
    background-color: palevioletred;
}


