@import "../base/maps";
@import "../base/mixin";


footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    @include colores(palevioletred);
    ul {
        list-style: map-get($lists, estilo)
    }
    a {
        display: flex;
        justify-content: flex-end;
    }
}