@import "../base/extends";
@import "../base/mixin";
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: map-get($colorhyf, color);
    h4 {
        font-family: 'Times New Roman', Times, serif;
        @extend %pos-center;
    }
    p {
        @extend %pos-center;
    }
    .iconos {
        @extend %pos-center;
    }
}

.footerjr {
    position: relative;
}

@media screen and (max-width: 480px) {
    footer {
        position: relative;
    }
}