@import "../base/extends.scss";
@import "../base/maps";

/* Ajustes site-wide */

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header y h1 */

header {  
    @extend %colorhyf;
    border-bottom: solid 2px black;

    h1 {
        @extend %pos-center;
        color: map-get($colorhyf, color);
        font-family: 'Times New Roman', Times, serif;
        
        
    }
}



h1::selection {
    background-color: whitesmoke;
    color: palevioletred
}
/* h secundarios */

h2 {
    @extend %pos-center;
    padding: 20px 0 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

h2::selection {
    background-color: palevioletred;
    color: whitesmoke;
}

h3 {
    @extend %pos-center;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

h4 {
    @extend %pos-center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

.h3jr {
    padding-top: 20px;
}