/* paquete de propiedades que se crean con un placeholder y las propiedades de CSS */@at-root
/* Placeholder = $ */
/* Heredar la extension */



%imagenes {
    display: flex;
    justify-content: center;
    width: 100%;
}